*.sublime-project
*.sublime-workspace
pjlib/include/pj/config_site.h
build.mak
config.log
config.status
*-auto.mak
*_auto.h
sip_autoconf.h
*.a
*.o
bin/
*.depend

# visual studio files
output/
*.suo
*.sdf
*.opensdf
*.filters
*.pdb

lib/
pjlib-util/lib/
pjlib/lib/
pjmedia/lib/
pjnath/lib/
pjsip/lib/
third_party/build/lib/
third_party/lib/

obj/